@import '../../helpers.scss';

.event-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: $primary-background;
  width: 100%;
  max-width: 1000px;
  overflow-y: auto;
  height: 100%;

  // padding: 1.25rem;

  .event-container {
    height: 100%;
    width: 100%;

    .header {
      display: flex;
      gap: 2rem;
      border-bottom: 2px solid $primary;
      width: 100%;
      padding: 2rem 0;
      box-sizing: border-box;

      .event-details {
        gap: 0.5rem;
        min-width: 40%;

        h2 {
          font-size: 1.5rem;
          margin-bottom: 0.625rem;
          text-transform: capitalize;
        }
        label {
          font-size: 0.8rem;
          font-weight: 600;
          color: $secondary-text;
          margin-bottom: 0.5rem;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          gap: 0.5rem;
          margin-top: 1rem;
          width: 100%;

          .event-creator {
            display: flex;
            flex-direction: column;
            flex: 1;
          }
          .location-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            .location-data {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0.25rem 0;
              height: 22px;
              width: 22px;
              color: $primary;
            }
            .location {
              display: flex;
              flex-direction: column;
              .location-name {
                color: $secondary-text;
                font-weight: 700;
                font-size: 0.9rem;
                margin: 0;
              }
              .address {
                margin: 0;
                font-size: 0.8rem;
                color: $secondary-text;
              }
            }
          }
        }
      }
      .users-list {
        display: flex;
      }
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .date-range {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-size: 1rem;

    span {
      display: inline-block;
      margin-right: 0.625rem;
    }
  }
}
