@import '../../helpers.scss';

.create-event-page {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section {
    margin: 1rem 0;
  }

  .create-event-form {
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 25px;
      padding: 10px 20px;
      font-size: 18px;
      background-color: $primary;
      color: $primary-text;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
    .address-container {
      display: flex;
      flex-direction: column;
    }
    .add-address-button,
    .remove-address-button {
      background: none;
      width: fit-content;
      font-size: 0.8rem;
      font-weight: 500;
      color: $secondary-text;
      border: none;
    }
    .address-autocomplete {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      margin-bottom: 15px;
    }
    .date-picker {
    }
    .date-range-picker-container {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
    .test {
    }
    .date-picker-input {
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }

    .error-message {
      color: red;
      margin-bottom: 10px;
    }
  }
}
