@import '../../helpers.scss';

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-background;

  h1 {
    color: $primary;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    color: $secondary-text;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .button-group {
    display: flex;
    margin-top: 2rem;

    .button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      background-color: $primary;
      color: $primary-text;
      font-size: 1.2rem;
      text-decoration: none;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken($primary, 10%);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .logout-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid $primary-background;
    color: $primary;
    font-weight: 600;
    height: fit-content;
    width: 4.5rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
    font-size: 0.9rem;

    &:hover {
      border: 1px solid $primary;
    }
  }
}
