@import '../../helpers.scss';

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .form-input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .optional {
    color: $tertiary-text;
  }
}
