$primary-text: #333333;
$secondary-text: #777777;
$tertiary-text: #999999;
$primary-background: #ffffff;
$secondary-background: #f5f5f5;
$tertiary-background: #eeeeee;
$primary: #4a90e2;
$secondary: #ff6c00;

$font-family: 'Montserrat', sans-serif;

$outline: #cccccc;

@mixin outline() {
  outline-color: $outline;
  // outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
