$primary-text: #333333;
$secondary-text: #555555;
$tertiary-text: #b1b1b1;
$primary-background: #ebebeb;
$secondary-background: #e0e0e0;
$tertiary-background: #cecece;
$primary: #287ee0;
$primary-light: #6e9bce;
$primary-extra-light: #99adc4;
$secondary: #ff6c00;

$black: #000000;
$white: #ffffff;

$font-family: 'Montserrat', sans-serif;

$success-green: #27c452;
$warning-yellow: #ffa500;
$error-red: #ff0000;

$border-color: #ccc;
$border-radius: 10px;
$outline: #4096ff;
$card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

@mixin outline() {
  outline-color: $outline;
  // outline-offset: -2px;
  outline-style: auto;
  outline-width: 3px;
}
