$primary-text: #333333;
$secondary-text: #777777;
$tertiary-text: #999999;
$primary-background: #ebebeb;
$secondary-background: #e0e0e0;
$tertiary-background: #cecece;
$primary: #4a90e2;
$primary-light: #6e9bce;
$primary-extra-light: #99adc4;
$secondary: #ff6c00;

$white: #ffffff;

$font-family: 'Montserrat', sans-serif;

$success-green: #27c452;
$warning-yellow: #ffa500;
$error-red: #ff0000;

$border-color: #ccc;
$border-radius: 10px;
$outline: #4096ff;

@mixin outline() {
  outline-color: $outline;
  // outline-offset: -2px;
  outline-style: auto;
  outline-width: 3px;
}
