@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './helpers.scss';

* {
  font-family: $font-family;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

#root {
  // background: red;
  height: 100%;
  overflow: hidden;
}
html {
  overflow: hidden;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  color: $primary-text;
  position: relative;
  width: 100%;
  background: $primary-background;
}
.App {
  height: 100%;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  color: $secondary-text;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h4 {
  font-weight: 500;
  font-size: 1.125rem;
}
p {
  line-height: 1.75;
}

input,
textarea {
  color: $primary-text;
  font-size: 0.9rem;
  font-weight: 500;

  &::placeholder {
    color: $tertiary-text;
    opacity: 0.9;
  }
  &:focus {
    @include outline();
  }
}
button {
  cursor: pointer;
  border-radius: $border-radius;
  &:focus {
    @include outline();
  }
}
.btn-submit {
  border: 1px solid $primary;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: $secondary-text;
  width: 100%;
  margin-top: 1rem;
  height: 40px;
  background: $primary-background;
}
.btn-submit.active {
  background: $primary;
  color: $white;

  &:hover {
    background: darken($primary, 10%);
  }
}
.btn-no-styles {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  border: none;
  color: inherit;
  background: none;
}
a {
  &:focus {
    @include outline();
  }
}

// Form Styles
.form-label {
  color: $secondary-text;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

// card styles
.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: $card-box-shadow;
  background: $white;
  box-sizing: border-box;
}
